.social-container {
   
  justify-content: center; 
  align-items: right;
}


.buttonss {
  display: flex; 
  align-items: center; 
  gap: 1px; 
}



.header {
  text-align: center;
  color:rgb(202, 210, 216)
}

.shooting-stars {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.shooting-star {
  position: absolute;
  width: 2px;
  height: 120px;
  background: linear-gradient(white, transparent);
  opacity: 0;
  animation: shooting-star-animation 5s ease-in-out infinite;
  transform-origin: bottom left;
}


.shooting-star:nth-child(1) { left: 10%; top: 50%; animation-delay: 5s; } 
.shooting-star:nth-child(3) { left: 70%; top: 50%; animation-delay: 2s; } 
.shooting-star:nth-child(4) { right: 0; top: 70%; animation-delay: 3s; transform-origin: right; } 


@keyframes shooting-star-animation {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(0) rotate(45deg);
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translateY(-500px) translateX(500px) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-600px) translateX(600px) rotate(45deg);
  }
}


.shooting-star:nth-child(4) {
  animation: shooting-star-reverse 3s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes shooting-star-reverse {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(0) rotate(-45deg);
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translateY(-500px) translateX(-500px) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-600px) translateX(-600px) rotate(-45deg);
  }
}