.social-container {
   
  justify-content: center; 
  align-items: right;
}


.buttonss {
  display: flex; 
  align-items: center; 
  gap: 1px; 
}



.header {
  text-align: center;
  color:rgb(202, 210, 216)
}

.shooting-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.shooting-star {
  position: absolute;
  width: 2px;
  height: 100px;
  background: linear-gradient(white, transparent);
  opacity: 0;
  transform: rotate(90deg);
  animation: shooting 10s ease-in-out infinite;
  animation-delay: calc(1.5s * var(--i));
}

/* Random positions and delays for each shooting star */
.shooting-star:nth-child(1) { top: 20%; left: 10%; --i: 0; }


@keyframes shooting {
  0% {
    opacity: 1;
    transform: translateY(600px) translateX(50px) rotate(45deg) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(2000px) translateX(100) rotate(45deg) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px) translateX(4200px) rotate(150deg) scale(1);
  }
}

